// custom_acordion.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../bootstrap-5.0.2/scss/_functions";


// 2. Include any default variable overrides here
$accordion-color: #dc3545;

$accordion-bg: #0D0D0D;

$accordion-border-color: #dc3545;

$accordion-button-active-bg: #460000;
$accordion-button-active-color:  shade-color(#dc3545, 10%);

$accordion-button-focus-border-color: #ff0019;
$accordion-button-focus-box-shadow:   0 0 0 0.25rem rgba(255, 0, 0, 0.575);

$accordion-icon-color:                    $accordion-color;
$accordion-icon-active-color:             $accordion-button-active-color;

$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path d='M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z'/><path d='M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z'/></svg>");
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path d='M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z'/><path d='M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z'/></svg>");



// 3. Include remainder of required Bootstrap stylesheets
@import "../bootstrap-5.0.2/scss/_variables";
@import "../bootstrap-5.0.2/scss/_mixins";


// 4. Include any optional Bootstrap components as you like
@import "../bootstrap-5.0.2/scss/_accordion";

// Then add additional custom code here