h1 {
    color: #d30012;
}

.card {
    background-color: #0D0D0D;
}

.jumbotron {
    background-color: #0D0D0D;
}


.nav-item .nav-link.active{
    color: #0D0D0D;
    font-weight: bold;
    background-color:  #8C0F1A;
    border-color: #4ECBD9;
}

.nav-item:hover .nav-link {
    color: #0D0D0D;
    font-weight: bold;
    background-color:  #8C0F1A;
    border-color: #4ECBD9;
}

.nav-item .nav-link {
    color: #4ECBD9;
}

.nav{
    border-color: #4ECBD9;
}

header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  