# This starter workflow is for a CMake project running on multiple platforms. There is a different starter workflow if you just want a single platform.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-single-platform.yml
name: CMake on multiple platforms

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    env:
      BUILD_WRAPPER_OUT_DIR: ${{ github.workspace }}/sonar

    strategy:
      # Set fail-fast to false to ensure that feedback is delivered for all matrix combinations. Consider changing this to true when your workflow is stable.
      fail-fast: false

      # Set up a matrix to run the following 3 configurations:
      # 1. <Windows, Release, latest MSVC compiler toolchain on the default runner image, default generator>
      # 2. <Linux, Release, latest GCC compiler toolchain on the default runner image, default generator>
      # 3. <Linux, Release, latest Clang compiler toolchain on the default runner image, default generator>
      #
      # To add more build types (Release, Debug, RelWithDebInfo, etc.) customize the build_type list.
      matrix:
        os: [windows-latest, ubuntu-latest]
        beauty_os: [windows, linux]
        platform: [x86, x64]
        c_compiler: [gcc, clang, cl]
        include:
          - os: windows-latest
            beauty_os: windows
            platform: x86
            c_compiler: cl
            cpp_compiler: cl
          - os: windows-latest
            beauty_os: windows
            platform: x64
            c_compiler: cl
            cpp_compiler: cl
          - os: ubuntu-latest
            beauty_os: linux
            platform: x86
            c_compiler: gcc
            cpp_compiler: g++
          - os: ubuntu-latest
            beauty_os: linux
            platform: x64
            c_compiler: gcc
            cpp_compiler: g++
          - os: ubuntu-latest
            beauty_os: linux
            platform: x86
            c_compiler: clang
            cpp_compiler: clang++
          - os: ubuntu-latest
            beauty_os: linux
            platform: x64
            c_compiler: clang
            cpp_compiler: clang++
        exclude:
          - os: windows-latest
            beauty_os: linux
          - os: ubuntu-latest
            beauty_os: windows
          - os: windows-latest
            c_compiler: gcc
          - os: windows-latest
            c_compiler: clang
          - os: ubuntu-latest
            c_compiler: cl

    steps:
    - name: Set build config
      id: set-build-config
      run: echo "build-config=${{ matrix.platform }}-release-${{ matrix.beauty_os }}" >> $GITHUB_ENV

    - uses: actions/checkout@v4
      if: env.build-config != 'x64-release-windows'
      with:
        submodules: true

    - uses: actions/checkout@v4
      if: env.build-config == 'x64-release-windows'
      with:
        submodules: true
        fetch-depth: 0

    - name: Set reusable strings  
      # Turn repeated input strings (such as the build output directory) into step outputs. These step outputs can be used throughout the workflow file.
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

    - name: Install dependencies (Linux)
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install -y software-properties-common
        sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
        sudo apt-get update
        sudo apt-get install -y autoconf automake libtool libtool-bin pkg-config m4 libltdl-dev ninja-build cmake
        sudo apt-get install -y gcc-14 g++-14  # Replace with the desired version if necessary
        sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-14 100
        sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-14 100
        gcc --version
        g++ --version

    - name: Install dependencies (Windows)
      if: matrix.os == 'windows-latest'
      run: |
        choco install ninja

    - name: Set up Visual Studio shell
      if: matrix.os == 'windows-latest'
      uses: egor-tensin/vs-shell@v2
      with:
        arch: ${{ matrix.platform }}

    - name: Configure CMake Debug
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: cmake --preset ${{ matrix.platform }}-debug-${{ matrix.beauty_os }}

    - name: Build Debug
      # Build your program with the given configuration. Note that --config is needed because the default Windows generator is a multi-config generator (Visual Studio generator).
      run: cmake --build ${{ steps.strings.outputs.build-output-dir }}/${{ matrix.platform }}-debug-${{ matrix.beauty_os }}

    - name: Configure CMake Release
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: cmake --preset ${{ matrix.platform }}-release-${{ matrix.beauty_os }}

    - name: Create sonar-project.properties
      if: env.build-config == 'x64-release-windows'
      shell: pwsh
      run: |
        $sourceDirectory = "${{ github.workspace }}"
        $majorVersion = 6
        $minorVersion = 0
        $shaVersion = git --git-dir="${sourceDirectory}\.git" rev-parse --short origin/master | Out-String
        $version = "${majorVersion}.${minorVersion}.${shaVersion.Trim()}"
        $content = @( )
        $content += "sonar.projectKey=redeye_main"
        $content += "sonar.organization=redeye"
        $content += "sonar.projectVersion=$version"
        $content += "sonar.sources=${sourceDirectory}\source"

        $content | Out-File -FilePath "${sourceDirectory}\sonar-project.properties" -Encoding utf8

    - name: Install sonar-scanner and build-wrapper
      if: env.build-config == 'x64-release-windows'
      uses: SonarSource/sonarcloud-github-c-cpp@v3
      
    - name: Run build-wrapper Release
      if: env.build-config == 'x64-release-windows'
      run: |
        build-wrapper-win-x86-64 --out-dir ${{ env.BUILD_WRAPPER_OUT_DIR }} cmake --build ${{ steps.strings.outputs.build-output-dir }}/${{ matrix.platform }}-release-${{ matrix.beauty_os }}

    - name: Run sonar-scanner
      if: env.build-config == 'x64-release-windows'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: |
        sonar-scanner --define sonar.cfamily.compile-commands="${{ env.BUILD_WRAPPER_OUT_DIR }}/compile_commands.json"
        
    - name: Build Release 
      if: env.build-config != 'x64-release-windows'
      # Build your program with the given configuration. Note that --config is needed because the default Windows generator is a multi-config generator (Visual Studio generator).
      run: cmake --build ${{ steps.strings.outputs.build-output-dir }}/${{ matrix.platform }}-release-${{ matrix.beauty_os }}

    # - name: Test
    #   working-directory: ${{ steps.strings.outputs.build-output-dir }}
    #   # Execute tests defined by the CMake configuration. Note that --build-config is needed because the default Windows generator is a multi-config generator (Visual Studio generator).
    #   # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
    #   run: ctest --build-config ${{ matrix.build_type }}