name: SonarCloud on whole project files

on:
  push:
    branches: [ "main" ]
    paths:
      - 'source/Engine/**'
      - 'source/Lens/**'
      - 'source/Modules/**'
  pull_request:
    branches: [ "main" ]
    types: [opened, synchronize, reopened]
    paths:
      - 'source/Engine/**'
      - 'source/Lens/**'
      - 'source/Modules/**'

jobs:
  sonarcloud:
    uses: ./.github/workflows/sonarcloud-template.yml
    with:
      os: "windows-latest"
      platform: "x64"
      beauty_os: "windows"
      build_wrapper_out_dir: ${{ github.workspace }}/sonar
      build_dir: ${{ github.workspace }}/build
      target_source: 'source/Engine,source/Lens,source/Modules'
      job_name: "Main"
      project_key: "redeye_main"
    secrets:
      sonar_token: ${{ secrets.SONAR_TOKEN }}