name: SonarCloud on whole project files

on:
  push:
    branches: [ "main" ]
    paths:
      - 'source/Engine/**'
      - 'source/Lens/**'
      - 'source/Modules/**'
  pull_request:
    branches: [ "main" ]
    types: [opened, synchronize, reopened]
    paths:
      - 'source/Engine/**'
      - 'source/Lens/**'
      - 'source/Modules/**'

jobs:
  sonarcloud:
    runs-on: windows-latest
    env:
      PLATFORM: x64
      BEAUTY_OS: windows

    strategy:
      fail-fast: false
      matrix:
        include:
          - target_source: 'source/Engine'
            project_key: 'redeye_engine'
          - target_source: 'source/Lens'
            project_key: 'redeye_lens'
          - target_source: 'source/Modules'
            project_key: 'redeye_library'
          - target_source: 'source/Engine,source/Lens,source/Modules'
            project_key: 'redeye_main'

    steps:
    - name: 'Checkout fetch-depth: 0'
      uses: actions/checkout@v4 
      with:
        submodules: true
        fetch-depth: 0

    - name: Fetch all branches
      run: git fetch --all

    - name: Check for changes in target source
      id: check_changes
      shell: bash
      run: |
        if [ "${{ github.event_name }}" = "pull_request" ]; then
          git fetch origin ${{ github.event.pull_request.base.ref }}
          git fetch origin ${{ github.event.pull_request.head.ref }}
          git diff --name-only origin/${{ github.event.pull_request.base.ref }}...origin/${{ github.event.pull_request.head.ref }} > changed_files.txt
        else
          git fetch origin main
          git diff --name-only origin/main...HEAD > changed_files.txt
        fi
        target_source_pattern=$(echo "${{ matrix.target_source }}" | sed 's/,/|/g')
        if ! grep -qE "$target_source_pattern" changed_files.txt; then
          echo "No changes in ${{ matrix.target_source }}. Skipping job."
          exit 0
        fi

    - name: Set reusable strings
      id: strings
      shell: bash
      run: |
        echo "build-wrapper-out-dir=${{ github.workspace }}/sonar" >> "$GITHUB_OUTPUT"
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

    - name: Install dependencies (Windows)
      run: choco install ninja
    
    - name: Set up Visual Studio shell
      uses: egor-tensin/vs-shell@v2
      with:
        arch: ${{ env.PLATFORM }}
    
    - name: Configure CMake Release
      run: cmake --preset ${{ env.PLATFORM }}-release-${{ env.BEAUTY_OS }}-opengl

    - name: Create sonar-project.properties
      shell: pwsh
      run: |
        $sourceDirectory = "${{ github.workspace }}"
        $majorVersion = 6
        $minorVersion = 0

        $branch = "${{ github.ref }}"
        if($branch.Contains("refs/pull")) {
            $branch = "${{ github.head_ref }}"
        }
        else {
            $branch = $branch -replace 'refs/heads/', ''
        }
        Write-Host "Branch: $branch"
        
        $shaVersion = git rev-parse --short origin/$branch | Out-String
        $version = "${majorVersion}.${minorVersion}.${shaVersion}"
        Write-Host "Version: $version"

        $content = @( )
        $content += "sonar.projectKey=${{ matrix.project_key }}"
        $content += "sonar.organization=redeye"
        $content += "sonar.projectVersion=$version"
        $content += "sonar.sources=${{ matrix.target_source }}"
        $content += "sonar.cfamily.enableModules=true"
    
        $content | Out-File -FilePath "${sourceDirectory}\sonar-project.properties" -Encoding utf8
    
    - name: Install sonar-scanner and build-wrapper
      uses: SonarSource/sonarcloud-github-c-cpp@v3
      
    - name: Run build-wrapper Release
      run: |
        build-wrapper-win-x86-64 --out-dir ${{ steps.strings.outputs.build-wrapper-out-dir }} cmake --build ${{ steps.strings.outputs.build-output-dir }}/${{ env.PLATFORM }}-release-${{ env.BEAUTY_OS }}-opengl
    
    - name: Run sonar-scanner
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.sonar_token }}
      run: sonar-scanner --define sonar.cfamily.compile-commands="${{ steps.strings.outputs.build-wrapper-out-dir }}/compile_commands.json"