name: SonarCloud on library files

on:
  push:
    branches: [ "main" ]
    paths:
      - 'source/Modules/**'
  pull_request:
    branches: [ "main" ]
    types: [opened, synchronize, reopened]
    paths:
      - 'source/Modules/**'

jobs:
  sonarcloud:
    uses: ./.github/workflows/sonarcloud-template.yml
    with:
      os: "windows-latest"
      platform: "x64"
      beauty_os: "windows"
      build_wrapper_out_dir: ${{ github.workspace }}/sonar
      build_dir: ${{ github.workspace }}/build
      sonar_token: ${{ secrets.SONAR_TOKEN_LIBRARY }}
      target_source: "source\\Modules"