name: SonarCloud on whole project files

on:
  push:
    branches: [ "main" ]
    paths:
      - 'source/Engine/**'
      - 'source/Lens/**'
      - 'source/Modules/**'
  pull_request:
    branches: [ "main" ]
    types: [opened, synchronize, reopened]
    paths:
      - 'source/Engine/**'
      - 'source/Lens/**'
      - 'source/Modules/**'

jobs:
  sonarcloud:
    runs-on: ${{ matrix.os }}
    env:
      PLATFORM: x64

    strategy:
      fail-fast: false
      matrix:
        include:
          - target_source: 'source/Engine'
            project_key: 'redeye_engine'
            os: windows-latest
            beauty_os: windows
            build_wrapper: 'build-wrapper-win-x86-64.exe'
            config: 'release'
          - target_source: 'source/Lens'
            project_key: 'redeye_lens'
            os: windows-latest
            beauty_os: windows
            build_wrapper: 'build-wrapper-win-x86-64.exe'
            config: 'release'
          - target_source: 'source/Modules'
            project_key: 'redeye_library'
            os: windows-latest
            beauty_os: windows
            build_wrapper: 'build-wrapper-win-x86-64.exe'
            config: 'release'
          - target_source: 'source/Engine,source/Lens,source/Modules'
            project_key: 'redeye_main'
            os: ubuntu-latest
            beauty_os: linux
            build_wrapper: 'build-wrapper-linux-x86-64'
            config: 'debug'

    steps:
    - name: 'Checkout fetch-depth: 0'
      uses: actions/checkout@v4 
      with:
        submodules: true
        fetch-depth: 0

    - name: Fetch all branches
      run: git fetch --all

    - name: Check for changes in target source
      id: check_changes
      shell: bash
      continue-on-error: true
      run: |
        if [ "${{ github.event_name }}" = "pull_request" ]; then
          git fetch origin ${{ github.event.pull_request.base.ref }}
          git fetch origin ${{ github.event.pull_request.head.ref }}
          git diff --name-only origin/${{ github.event.pull_request.base.ref }}...origin/${{ github.event.pull_request.head.ref }} > changed_files.txt
        else
          git fetch origin main
          git diff --name-only origin/main...HEAD > changed_files.txt
        fi
        target_source_pattern=$(echo "${{ matrix.target_source }}" | sed 's/,/|/g')
        if ! grep -qE "$target_source_pattern" changed_files.txt; then
          echo "No changes in ${{ matrix.target_source }}. Skipping job."
          echo "skip_job=true" >> $GITHUB_ENV
        fi

    - name: Set reusable strings
      if: env.skip_job != 'true'
      id: strings
      shell: bash
      run: |
        echo "build-wrapper-out-dir=${{ github.workspace }}/sonar" >> "$GITHUB_OUTPUT"
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"
        echo "preset=${{ env.PLATFORM }}-${{ matrix.config }}-${{ matrix.beauty_os }}-opengl" >> "$GITHUB_OUTPUT"
    
    - name: Install dependencies (Linux)
      if: matrix.os == 'ubuntu-latest' && env.skip_job != 'true'
      run: |
        sudo apt-get update
        sudo apt-get install -y software-properties-common
        sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
        sudo apt-get update
        sudo apt-get install -y autoconf automake libtool libtool-bin pkg-config m4 libltdl-dev ninja-build cmake libglu1-mesa-dev libxext-dev libxrandr-dev
        sudo apt-get install -y gcc-14 g++-14 lcov
        sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-14 100
        sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-14 100
        sudo update-alternatives --install /usr/bin/gcov gcov /usr/bin/gcov-14 100
        gcc --version
        g++ --version
        gcov --version
        lcov --version

    - name: Install gcovr (Linux)
      if: matrix.os == 'ubuntu-latest' && env.skip_job != 'true'
      run: sudo pip install gcovr

    - name: Install dependencies (Windows)
      if: matrix.os == 'windows-latest' && env.skip_job != 'true'
      run: choco install ninja
    
    - name: Set up Visual Studio shell (Windows)
      if: matrix.os == 'windows-latest' && env.skip_job != 'true'
      uses: egor-tensin/vs-shell@v2
      with:
        arch: ${{ env.PLATFORM }}
    
    - name: Configure CMake Release (Windows)
      if: matrix.os == 'windows-latest' && env.skip_job != 'true'
      run: cmake --preset ${{ steps.strings.outputs.preset }}
      
    - name: Configure CMake Release (Linux)
      if: matrix.os == 'ubuntu-latest' && env.skip_job != 'true'
      run: cmake --preset ${{ steps.strings.outputs.preset }} -DCODE_COVERAGE=ON

    - name: Create sonar-project.properties
      if: env.skip_job != 'true'
      shell: bash
      run: |
        sourceDirectory="${{ github.workspace }}"
        majorVersion=6
        minorVersion=0
    
        branch="${{ github.ref }}"
        if [[ "$branch" == refs/pull/* ]]; then
            branch="${{ github.head_ref }}"
        else
            branch="${branch#refs/heads/}"
        fi
        echo "Branch: $branch"
        
        shaVersion=$(git rev-parse --short origin/$branch)
        version="${majorVersion}.${minorVersion}.${shaVersion}"
        echo "Version: $version"
    
        content="sonar.projectKey=${{ matrix.project_key }}\n"
        content+="sonar.organization=redeye\n"
        content+="sonar.projectVersion=$version\n"
        content+="sonar.sources=${{ matrix.target_source }}\n"
        content+="sonar.cfamily.enableModules=true\n"
    
        if [[ "${{ matrix.os }}" == "ubuntu-latest" ]]; then
            content+="sonar.coverageReportPaths=${{ steps.strings.outputs.build-output-dir }}/${{ steps.strings.outputs.preset }}/coverage.xml\n"
        fi
    
        echo -e $content > "${sourceDirectory}/sonar-project.properties"
    
    - name: Install sonar-scanner and build-wrapper
      if: env.skip_job != 'true'
      uses: SonarSource/sonarcloud-github-c-cpp@v3
      
    - name: Run build-wrapper Release
      if: env.skip_job != 'true'
      run: |
        ${{ matrix.build_wrapper }} --out-dir ${{ steps.strings.outputs.build-wrapper-out-dir }} cmake --build ${{ steps.strings.outputs.build-output-dir }}/${{ steps.strings.outputs.preset }}

    - name: Run tests (Linux)
      if: matrix.os == 'ubuntu-latest' && env.skip_job != 'true'
      run: |
        # Navigate to build directory
        cd ${{ steps.strings.outputs.build-output-dir }}/${{ steps.strings.outputs.preset }}
        
        # Run tests with verbose output
        ctest --output-on-failure
        
    - name: Generate coverage report (Linux)
      if: matrix.os == 'ubuntu-latest' && env.skip_job != 'true'
      run: |
        # Navigate to build directory
        cd ${{ steps.strings.outputs.build-output-dir }}/${{ steps.strings.outputs.preset }}
        
        # Generate SonarQube-compatible coverage XML report for Modules
        gcovr --root ${GITHUB_WORKSPACE}/source --xml --output coverage.xml
        
        # Log SonarQube-compatible XML coverage report for debugging
        echo "SonarQube XML Coverage Report:"
        cat coverage.xml


    - name: Run sonar-scanner
      if: env.skip_job != 'true'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.sonar_token }}
      run: sonar-scanner --define sonar.cfamily.compile-commands="${{ steps.strings.outputs.build-wrapper-out-dir }}/compile_commands.json"